:root {
  --overlay-color: #193940;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "MuseoModerno", cursive;
}

html {
  min-height: 100%;
  font-size: .8em;
}


body {
  background-image: url("../images/Curtain2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  mix-blend-mode: overlay;
  opacity: 0.4;
}

.logo {
  font-size: 30px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: beige;
}

.toggle {
  position: relative;
  width: 20px;
  height: 20px;
  background: url("../images/close.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.clock {
  width: 650px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

span.flip-clock-label {
  font-size: 25px;
}

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -100px;
  color: wheat;
  text-shadow: none;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -120px;
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -120px;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("/images/home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  position: relative;
}

.content h2 {
  font-family: "Dancing Script", cursive;
  margin-top: 18%;
  margin-left: 49%;
  color: bisque;
  font-size: 10em;
  position: absolute;
  transform: translate(-50%, -50%);
}


@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }
}


